<!DOCTYPE html>
<html ng-app='shortly'>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <div ng-controller="SearchController" class="container">
      <div class="row left-align">
        <h1>Shortly</h1>
      </div>
      <div class="row" ng-if="location.path() === '/links' || location.path() === '/shorten'">
        <nav>
          <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-sm col s12">
              <li><a href="#/links">All Links</a></li>
              <li><a href="#/shorten">Shorten</a></li>
              <li>
                <form class="left">
                  <div class="input-field">
                    <input ng-model="search.string" id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </li>
              <li class="right"><a href="#/signout">Sign Out</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- the ng-view directive is where our templates will be loaded into when naviagted to -->
      <div ng-view></div>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>

    <script src="app/auth/auth.js"></script>
    <script src="app/links/links.js"></script>
    <script src="app/shorten/shorten.js"></script>
    <script src="app/services/services.js"></script>
    <script src="app/app.js"></script>
  </body>
</html>
