<div id="container">
	<form ng-submit="addLink({url: newUrl}); newUrl=''" name="shortForm">
		<div class="input-field row">
			<div class="col s12">
				<i class="material-icons prefix">polymer</i>
		    <input
					ng-model="newUrl"
						ng-focus="focus=true"
						ng-blur="focus=false"
						class="validate"
						ng-class="{invalid: (shortForm.url.$invalid && shortForm.url.$dirty)}"
						id="url"
						type="url"
						name="url">
				<label
					for="url"
					ng-class="{active: focus || newUrl || shortForm.url.$invalid}"
					data-error="invalid">Link</label>
			</div>
			<div class="progress col s12" ng-if="spinner">
				<div class="indeterminate"></div>
			</div>
		</div>
  </form>
	<!-- // make this pretty lol -->
  <div class="message" ng-if="message()">{{message()}}</div>

	<ul ng-if="link.title" class="collection valign-container">
		<li class="collection-item avatar valign">
			<img src="{{link.favicon || '/assets/redirect_icon.png'}}" alt="" class="circle">
			<a href="{{link.baseUrl}}/{{link.code}}">
				<span class="title">{{link.title}}</span>
			</a>
			<p>{{link.url}}</p>
			<a href="" class="secondary-content">{{link.visits}} visit{{link.visits > 1 ? 's' : ''}}</a>
		</li>
	</ul>
</div>
