<div id="signin" class="row center-align">
  <h1>Sign In</h1>
  <form ng-submit="signin()" name="signForm" class="col s12">
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">account_circle</i>
        <input ng-model="user.username" id="user" type="text" ng-trim="false" ng-pattern="/^([A-Za-z]|[0-9]|_)+$/" class="validate" ng-focus="focus1=true" ng-blur="focus1=false">
        <label for="user"  ng-class="{active: focus1 || user.username || signForm.$invalid}">Userame</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s3">
        <i class="material-icons prefix">lock</i>
        <input ng-model="user.password" id="pass" type="password" class="validate" ng-focus="focus2=true" ng-blur="focus2=false">
        <label for="pass" ng-class="{active: focus2 || user.password}">Password</label>
      </div>
    </div>
    <div class="row">
      <button ng-disable="signForm.$invalid" class="waves-effect waves-light btn hoverable col s4 offset-s4" ng-class="{disabled: signForm.$invalid}">
        Sign In
      </button>
    </div>
    <div class="row">
      Don't have an account? <a href="#/signup">Sign Up Now</a>
    </div>
    <div class="message" ng-if="signForm.user.$dirty && signForm.user.$invalid">Invalid Username</div>
  </form>
</div>
